body {
  font-size: 0.12rem;
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column; }

header {
  color: #ffffff;
  padding-top: 0.11rem;
  padding-bottom: 0.11rem;
  background: #ed722e;
  padding-right: 0.14rem;
  text-align: center; }
  header div {
    display: inline; }
  header span {
    position: absolute;
    right: 0.14rem; }

section {
  padding-left: 0.09rem;
  padding-right: 0.09rem;
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box; }
  section .row {
    padding-top: 0.08rem;
    padding-bottom: 0.08rem;
    border-bottom: 0.01rem solid #f7f7f7; }
  section .left input {
    display: none; }
  section .left input:checked + label {
    background: #ec652b; }
  section .left input:checked + label span {
    left: 0.01rem;
    width: 0.08rem;
    height: 0.09rem;
    position: absolute;
    display: inline-block;
    border-right: 0.01rem solid #ffffff;
    border-bottom: 0.01rem solid #ffffff;
    transform: rotate(30deg); }
  section .left label {
    width: 0.14rem;
    height: 0.14rem;
    border: 0.01rem solid #b7b9c6;
    border-radius: 50%;
    position: relative;
    text-align: center;
    position: absolute;
    left: 0; }
  section .left .hert {
    padding-left: 0.09rem;
    color: #6f737c; }
  section .left .name {
    padding-left: 0.02rem; }
  section .write {
    margin-left: 0.08rem; }
  section .count {
    display: none;
    margin-left: 0.08rem; }
  section .right {
    text-align: right; }
    section .right .first {
      padding-right: 0.07rem; }
    section .right .last {
      padding-left: 0.08rem;
      border-left: 0.01rem solid #cccccc; }
  section .lefts input {
    display: none; }
  section .lefts input:checked + label {
    background: #ec652b; }
  section .lefts input:checked + label span {
    left: 0.01rem;
    width: 0.08rem;
    height: 0.09rem;
    position: absolute;
    display: inline-block;
    border-right: 0.01rem solid #ffffff;
    border-bottom: 0.01rem solid #ffffff;
    transform: rotate(30deg); }
  section .lefts label {
    margin-top: 0.29rem;
    width: 0.14rem;
    height: 0.14rem;
    border: 0.01rem solid #b7b9c6;
    border-radius: 50%;
    position: relative;
    text-align: center;
    position: absolute;
    left: 0; }
  section .lefts .img {
    width: 0.71rem;
    height: 0.71rem;
    margin-left: 0.08rem; }
    section .lefts .img img {
      width: 100%;
      height: 100%; }
  section .give {
    color: #CCCCCC;
    font-size: 0.1rem; }
  section .money span {
    color: #ee8332; }
  section .money s {
    color: #7e7d7d; }
  section .money .num {
    color: #CCCCCC;
    position: absolute;
    right: 0; }
  section .count {
    height: 0.71rem; }
    section .count .fa {
      background: none; }
    section .count .left {
      float: left; }
      section .count .left .top {
        margin-top: 0.11rem; }
        section .count .left .top .ber {
          width: 0.2rem;
          background: pink; }
        section .count .left .top button {
          outline: none;
          border-width: 0;
          font-size: 0.12rem; }
        section .count .left .top .sky {
          margin-left: 0.49rem; }
        section .count .left .top .next {
          margin-left: 0.49rem; }
      section .count .left .bottom {
        margin-top: 0.3rem; }
    section .count .right {
      color: #ffffff;
      text-align: center;
      line-height: 0.74rem;
      width: 0.46rem;
      height: 100%;
      background: red;
      float: right;
      position: absolute;
      right: -0.27rem; }
  section .string {
    height: 0.08rem;
    background: #f4f4f4;
    width: 100%; }

footer {
  background: #f7f6f7; }
  footer ul {
    width: 100%;
    height: 0.37rem;
    margin-top: 0.05rem;
    margin-bottom: 0.03rem; }
    footer ul li {
      text-align: center;
      width: 20%;
      height: 100%;
      float: left; }
      footer ul li .fa {
        font-size: 0.16rem; }
      footer ul li span {
        padding-top: 0.03rem;
        display: block; }
      footer ul li .circle {
        width: 0.05rem;
        height: 0.05rem;
        background: red;
        border-radius: 50%;
        position: absolute;
        right: 0.21rem;
        top: 0.01rem; }
    footer ul .active {
      color: #ec652b; }
    footer ul .two {
      position: relative; }
  footer .lefts input {
    display: none; }
  footer .lefts input:checked + label {
    background: #ec652b; }
  footer .lefts input:checked + label span {
    left: 0.01rem;
    width: 0.08rem;
    height: 0.09rem;
    position: absolute;
    display: inline-block;
    border-right: 0.01rem solid #ffffff;
    border-bottom: 0.01rem solid #ffffff;
    transform: rotate(30deg); }
  footer .lefts label {
    margin-top: 0.11rem;
    width: 0.14rem;
    height: 0.14rem;
    border: 0.01rem solid #b7b9c6;
    border-radius: 50%;
    position: relative;
    text-align: center;
    position: absolute;
    left: 0; }
  footer .lefts span {
    padding-left: 0.06rem; }
  footer .write {
    text-align: right; }
    footer .write .money .luck {
      color: #CCCCCC;
      font-size: 0.1rem; }
    footer .write .money .zero {
      color: #ec652b; }
  footer .select {
    padding-left: 0.08rem;
    background: #ffffff;
    line-height: 0.35rem; }
  footer .mini {
    background: #ec652b;
    position: absolute;
    right: 0; }
    footer .mini button {
      outline: none;
      border-width: 0;
      color: #ffffff;
      height: 0.37rem;
      background: #ec652b; }

/*# sourceMappingURL=style.css.map */
