body
  font-size: .12rem
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  display: -webkit-flex
  -webkit-flex-direction: column
  background: #dddede

.header
  height: .47rem
  line-height: .47rem
  background: #c80a0f
  position: relative
  text-align: center
  color: #fff
  & > i
    position: absolute
    top: 10px
    left: 10px
  & > h3
    font-weight: normal
  & > p
    position: absolute
    top: 1px
    right: 10px

.section
  background: #ffffff
  margin-top: 0.08rem
  div
    border-bottom: 0.01rem solid #eeeeee
    padding-top: 0.14rem
    padding-bottom: 0.14rem
    padding-left: 0.12rem
    padding-right: 0.12rem
    input
      width: 78%
      margin-left: 0.28rem
      border-width: 0
      outline: none
  .man
    input
      margin-left: 0.4rem
  .phone
    input
      margin-left: 0.4rem
