body
  position: absolute
  width: 100%
  top: 0
  bottom: 0
  display: -webkit-flex
  font-size: 0.12rem
  flex-direction: column
  background: #f3f3f3
header
  .on
    width: 100%
    display: flex
    height: 0.35rem
    background: #1b1b20
    font-size: 0.14rem
    color: #ffffff
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 0.11rem 0.1rem
    .left
      width: 0.37rem
      i
        margin-right: 0.03rem
        font-size: 0.16rem
    & > .right
      width: 0.37rem
      text-align: right

section
  overflow-y: auto
  flex: 1
  & > p
    background: #ffffff
    box-sizing: border-box
    padding-left: 0.11rem
    width: 100%
    height: 0.39rem
    line-height: 0.39rem
    border-bottom: 0.01rem solid #ccc
  & > .picture
    background: #ffffff
    margin-top: 0.04rem
    width: 100
    height: 1.51rem
    border-top: 0.01rem solid #CCCCCC
    border-bottom: 0.01rem solid #CCCCCC
    .title
      border-bottom: 0.01rem solid #CCCCCC
      height: 0.26rem
      display: flex
      align-items: center
      justify-content: space-between
      padding-left: 0.11rem
      padding-right: 0.11rem
      i
        padding-left: 0.11rem
        color: #CCCCCC
    .img
      box-sizing: border-box
      width: 100%
      height: 1.22rem
      padding: 0.08rem 0.11rem
      img
        width: 100%
        height: 100%